<html>
	{% load staticfiles %}
	<head> 
		<title> Sitch </title>
		<link rel="stylesheet" type="text/css" href="{% static 'soundeffects/CSS/style.css' %}">
	</head>
	<body> 
		<div id= "logo">
			<a href= "index.html">
			<img src= "{% static 'soundeffects/images/Sitch_Logo.png' %}" width= "175" height= "175" class= "img-circle"> </a>
		</div>

		<div id= "navigation">

			<li> <a class= "home" href="/">HOME</a> 
			<span style='color:red;margin-right:4em; display:inline-block;'>&nbsp;</span></li>

			<li> <a class= "about" href="aboutus">ABOUT US</a> 
			<span style='color:red;margin-right:6em; display:inline-block;'>&nbsp;</span></li>

			<li> <a class= "tutorials" href="/sounds">SOUNDS</a>
			<span style='color:red;margin-right:2em; display:inline-block;'>&nbsp;</span></li>
			
			<li> <a class= "materials" href="/contact">CONTACT US</a></li> 

		</div>

		<div id= "Headings">
			<h1> ABOUT US </h1> 
		</div> 

		<div id= "description"> 
			<p class= "description"> Blah Blah Blah </p> 
				
		</div> 

		

	<div id="footer">
			<div id="footerleft">
				<p>&#169; Sitch. 2016</p>
			</div>
		
		</div>









	</head>
	</body>

</html>