<html>
	{% load staticfiles %}
	<head> 
		<title> Sitch </title>
		<link href= "{% static 'soundeffects/CSS/style.css' %}" type= "text/css" 
		rel= "stylesheet">
	</head>
	<body> 
	<div id= "main">

		<div id= "logo">
			<a href= "index.html">
			<img src= "{% static 'soundeffects/images/Sitch_Logo.png' %}" width= "175" height= "175" class= "img-circle"> </a>
		</div>

		<div id= "navigation">

			<li> <a class= "home" href="/">HOME</a> 
			<span style='color:red;margin-right:4em; display:inline-block;'>&nbsp;</span></li>

			<li> <a class= "home" href="/aboutus">ABOUT US</a> 
			<span style='color:red;margin-right:6em; display:inline-block;'>&nbsp;</span></li>

			<li> <a class= "home" href="/sounds">SOUNDS</a>
			<span style='color:red;margin-right:2em; display:inline-block;'>&nbsp;</span></li>
			
			<li> <a class= "home" href="/contact">CONTACT US</a></li> 

		</div>

<div id = "centerpic">
	<div id="contact_form"> 
		<div id="contacttitle">
		<p><font color="FFFFF" size="5px"> <br/>Questions? Requests? Comments? Send them here!</font></p>
		<font color="FFFFF">
			<form id="contact_form" method="POST" action="contact-form-handler.php" >
		<div id="row">
			<label id="input">YOUR NAME:</label><br/><br/>
			<input id="name" class="input" name="name" type="text" value="" size="50" /><br />
		</div>
		<div id="row">
			<label id="input">YOUR EMAIL:</label><br/><br/>
			<input id="email" class="input" name="email" type="email" value="" size="50" /><br/>
		</div>
		<div id="row">
			<label id="input">YOUR MESSAGE:</label><br/></br>
			<textarea id="message" class="input" name="message" rows="15" cols="50"></textarea><br/>
		</div>
		<div id="button">	
		<input id="submit" type="submit" value="SEND EMAIL" />
		</form>	
		</font>	
		</div>					
	</div>
		
		</div>



		

	</head>
	</body>

</html>


