body {
	background-image: url('../images/Background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 103%;

}

#main {
	width: 960px;
	margin: 0 auto;

}

#logo {
	margin: 10px auto 10px auto;
	width: 200px;
	padding-top: 10px; 
}

#navigation {
	width: 960px;
	margin: 0px auto 0px auto;
	padding-bottom: 10px;
	text-align: center;

}

#centerpicsearch {
	background-color: #008ec0;
	margin: 0px auto 0px auto;
	width: 960px;
	height: 500px;
	text-align: center;
}

#centerpic {
	background-color: #008ec0;
	margin: 0px auto 0px auto;
	width: 960px;
	height: auto;
	text-align: center;
	padding-bottom: 50px;
}

#search_form {
  position:absolute;
  top:90%;
  left:30%;
  margin: 0px auto 0px auto;
}

#quote {
	width: 960px;
	margin: 0px auto 0px auto;
	text-align: center;
}

#Headings {
	width: 900px;
	margin: 0px auto 0px auto;
	text-align: center;
}



a {
	color: black;
	font-size: 26px;
	font-family: 'Gotham Light'; 
	text-decoration: none;
	letter-spacing: 1px;


}


span {
	color: #008ec0;
	font-size: 26px;
	font-family:  'Gotham Light'; 
	text-decoration: none;

}


p {
	font-size: 26px;
	font-family:  'Gotham Light'; 
	text-decoration: none;
	letter-spacing: 1px;
}


p.description {
	color: white;
	text-align: center; 
	line-height: 1.5em; 
	
}


p.footer {
	color: #008ec0;
	font-size: 26px;
	font-family:  'Gotham Light'; 
	text-decoration: none;
	letter-spacing: 1px;

}

p.Homepage_Text {
	color: white;
	text-align: center;
	font-size: 40px;
	padding-top: 150px 
}

a:hover {
	color:#008ec0;
	text-decoration: underline;
	font-weight: 200%;
}

li {
	display: inline; 
	}

h1 {
	color: #008ec0;
	font-size: 40px;
	font-family:  'Gotham Light'; 
	text-decoration: none;

}

h2 {
	color: #008ec0;
	font-size: 40px;
	font-family: 'Gotham Light'; 
	text-decoration: none;

}

#footer {
	height: 40px;
	width: 940px;
	
	border-top: 1px solid #008ec0;
	margin: 20px auto 20px auto;
}

#footerleft {
	width: 450px;
	height: 20px;
	float: left;
	text-align: left;

	
}

#footerright {
	width: 450px;
	height: 20px;
	float: right;
	text-align: right;
}

.footnav {
	display: inline;
	margin: 15px;
	
}


#description {
	background:#008ec0;
	height: 523px;
	width: 770px;
	margin: 0px auto 0px auto;
	padding: 10px; 
	border: solid black;
	border-width: 20px 40px 20px 40px;
	
}


#search-btn {
	background:#f4da40;
	color:black;
	font: 'Gotham Bold'
	padding:10px 20px;
	border-radius:0 10px 10px 0; 
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
	-o-border-radius:0 10px 10px 0;
	border:0 none;
	font-weight:bold;
	width: 60px;
	height: 33px;
}
 
#search-box {
	background: #eee;
	padding:10px;
 	border-radius:10px 0 0 10px; 
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	border:0 none;
	width: 400px;
 }
 



@font-face {
  font-family: 'Gotham Bold';
 	src: url('fonts/Gotham-Bold.eot');
 	src: url('fonts/ufonts.com_gotham-bold.ttf')  format('truetype'), 
 	url('fonts/Gotham-Bold.woff') format('woff');
 	font-weight: 700;
 	font-style: normal;
 }

@font-face {
  font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.eot');
  	src: url('fonts/ufonts.com_gotham-book.ttf')  format('truetype'),
  	url('fonts/Gotham-Book.woff') format('woff'); 
 	font-weight: 400;
 	font-style: normal;
 }

@font-face {
  font-family: 'Gotham Light';
   src: url('fonts/Gotham-Light.eot');
   src: url('fonts/ufonts.com_gotham-thin.ttf')  format('truetype'), 
   url('fonts/Gotham-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
 }

#contact_form {
	margin-top: 10px;
	text-decoration: none;
	font-size: 15px;
}

#row {
	padding-top:20px;
	font-family: 'Gotham Book'; 
}


